* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    background-color: rgb(0, 0, 0);
}


#navbar {
    background-color: rgba(0, 0, 0, 0.477); 
    backdrop-filter: blur(5px);
    color: white;
    height: 110px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 25px;
    
    
}


.logo {
    font-size: 3.5rem;
    font-family: "Bitcount Grid Double", system-ui;
    font-weight: 300;
    color:rgb(175, 3, 3);
}



.menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}



.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    padding: 8px 12px;
    transition: 0.3s, color 0.3s;
    font-family: "Bitcount Grid Double", system-ui;
    font-weight: 300;
}

.nav-links li a:hover {
    color: red;
}


body {
    padding-top: 100px;
}


#about, #education, #skills, #projects {
    height: 100vh;
    padding: 20px;
}


#about {
    background-color: #000;
    color: white;
    height: 100vh;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
}


.about-left {
    flex: 1;
    min-width: 300px;
    opacity: 0;
    transform: translateX(-30px);
    animation: contentReveal 1.5s ease-out forwards;
}



.red1{
    color:red;
}


.about-left h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.about-left p {
    font-size: 1rem;
    line-height: 1.6;
}




.contact-list{
    margin-top: 15px;
    height:60px;
    width:400px;
    background-color: rgb(0, 0, 0);
    border-radius:10px;
    border:0.1px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
}


.contact-list:hover {
    transform: translateY(1px) scale(1);
    box-shadow: 0 0 20px red;
}



.phone{
    height:40px;
    width:40px;
    background-image: url("components/phone2.png");
    background-size: cover;
    border-radius:50%;
}

.linkedin{
    height:40px;
    width:40px;
    background-image: url("components/linkedin.jpg");
    background-size: cover;
    border-radius:50%;
}


.github{
    height:40px;
    width:40px;
    background-image: url("components/GitH.png");
    background-size: cover;
    border-radius:50%;
}

.email{
    height:40px;
    width:40px;
    background-image: url("components/gmail.jpg");
    background-size: cover;
    border-radius:50%;
}


.contact-info-display {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #111;
    color: white;
    font-size: 0.9rem;
    border-radius: 8px;
    min-height: 30px;
    max-width: 400px;
    border: 1px;
    display: none; 

}




@keyframes contentReveal {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.about-right {
    flex: 1;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.about-right img {
    max-width: 100%;
    max-height: 50vh;
    object-fit: contain;
    opacity: 0;
    transform: translateY(30px) scale(0.95);
    animation: robotReveal 3s ease-out forwards;
}



@keyframes robotReveal {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-left,
  .about-right {
    width: 100%;
  }

  .about-right img {
    max-height: 35vh;
    margin-top: 20px;
  }
}



#education {
    background-color: #000000;
    color: white;
    height: 100vh;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
}


.education-heading {
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin: 0;
    letter-spacing: 2px;
    z-index: 10;
    font-family: "Bitcount Grid Double", system-ui;
    font-weight: 300;
}


.education-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
}



.education-left {
    flex: 1;
    min-width: 300px;
    opacity: 1;
    min-width: 300px;
    position: relative; 
    padding-top: 40px; 
    margin-bottom:90px;
}



.education-left h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.education-left h2 a {
    text-decoration: none;
    color: #93928c;
    
}

.education-left p {
    font-size: 1rem;
    line-height: 1.6;
}


.education-right {
    flex: 1;
    min-width: 300px;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: visible;
    margin-bottom:80px;
}

.education-right img {
    max-width: 100%;
    max-height: 45vh;
    object-fit: cover;
    transform: none;
    border-radius: 50%;
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
}

.education-right img:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 0 60px red;
}


@media (max-width: 768px) {
  .education-container {
    flex-direction: column;
    text-align: center;
  }

  .education-left,
  .education-right {
    width: 100%;
  }

  .education-right img {
    max-height: 35vh;
    margin-top: 20px;
  }
}


.scroll-left, .scroll-right {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s ease-out;
}

.scroll-left.revealed {
    opacity: 1;
    transform: translateX(0);
}

.scroll-right.revealed {
    opacity: 1;
    transform: translateX(0);
}

.scroll-left {
    transform: translateX(-50px);
}

.scroll-right {
    transform: translateX(50px);
}



.revealed {
    opacity: 1;
    transform: translateX(0);
}



.main{
    color:white;
    font-weight:bold;
}



#skills{ 
    background:black; 
    color:white;
    position: relative;
}


.skills-heading {
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin: 0;
    letter-spacing: 2px;
    z-index: 10;
    font-family: "Bitcount Grid Double", system-ui;
    font-weight: 300;
}

.sk-cont{
    height:80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
}

.sk-cont1{
    height:100%;
    width:45%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sk-cont2{
    height:100%;
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0);
}


.sk-cont1, .sk-cont2 {
    width: 45%;
    min-height: 300px;
    padding: 20px;
    box-sizing: border-box;
}


.skills-list {
    list-style-type: none;
    padding: 0;
    font-size: 0.9rem;
    line-height: 2;
}

.skills-list li {
    margin-bottom: 10px;
}



.skills-list li strong{
    color:#93928c;
}




.move {
    height: 50%;
    display: flex;
    align-items: center;
    width: 100%;
}

.vs {
    display: inline-block;
    width: 100px;           
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.git {
    display: inline-block;
    width: 100px;           
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}


.js {
    display: inline-block;
    width: 100px;           
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}


.react {
    display: inline-block;
    width: 100px;           
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.ht {
    display: inline-block;
    width: 100px;           
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.css {
    display: inline-block;
    width: 100px;           
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}


.sql {
    display: inline-block;
    width: 100px;           
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.java {
    display: inline-block;
    width: 100px;           
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}


.reveal-left, .reveal-right, .fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
}


.reveal-left {
    transform: translateX(-100px);
}


.reveal-right {
    transform: translateX(100px);
}


.fade-in {
    transform: scale(0.9);
}


.visible {
    opacity: 1 !important;
    transform: translateX(0) translateY(0) scale(1) !important;
}




#projects{ 
    background: black; 
    color:white;
}


.projects-heading{
    font-size: 3rem;
    color:rgb(255, 255, 255);
    font-family: "Bitcount Grid Double", system-ui;
    font-weight: 300;
    margin-left:30px;
    
}

.pro{
    height:90%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.pro1, .pro2, .pro3, .pro4{
    height:300px;
    width:200px;
    margin-top: 50px;
    background-color: white;
    border-radius: 15px;
    background-color: black; 
    transition: all 0.3s ease-in;
    box-shadow: 0px 0px 9px red;
    display:flex;
    justify-content: center;
    align-items: center;
}

.pro1:hover{
    box-shadow: 0px 0px 30px red;
    transform:scale(1.04);
}

.pro2:hover{
    box-shadow: 0px 0px 30px red;
    transform:scale(1.04);
}

.pro3:hover{
    box-shadow: 0px 0px 30px red;
    transform:scale(1.04);
}

.pro4:hover{
    box-shadow: 0px 0px 30px red;
    transform:scale(1.04);
}

.pro1{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

.tab1{
    margin-top: 10px;
    width:180px;
    height:100px;
    background-image: url("components/6.png");
    background-size: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h5{
    color:black;
}


.project1{
    height:160px;
    width:180px;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    

}

.project1 a{
    margin-left: 15px;
}

.project1 ul{
    color:rgb(183, 180, 180);
    font-size: 0.8rem;
}

.reveal-left,
.reveal-right,
.reveal-bottom,
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

.reveal-left {
    transform: translateX(-50px);
}
.reveal-right {
    transform: translateX(50px);
}
.reveal-bottom {
    transform: translateY(50px);
}
.fade-in {
    transform: scale(0.95);
}

.visible {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1);
}


.loadingText {
  font-size: 20px;
  font-weight: bold;
  color: #5f5f5f;
}



@media (max-width: 768px) {
  .menu-toggle {
    display: block; 
  }

  .nav-links {
    display: none;  
    position: absolute;
    top: 100px;
    right: 0;
    background-color: black;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    
  }

  .nav-links.active {
    display: flex; 
  }

  .nav-links li {
    margin: 10px 0;
  }
}


